
<div class="container">
  <div class="tx">
    <h2><%= @recipe.name%></h2>
  </div>
  <div class="receipe">
    <p>preparation time: <%= @recipe.preparation_time%></p>
    <span class='public-toggle'>Public</span>
    
    <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
    </label>
  </div>
  <div class="desc">
    <p> cooking time: <%= @recipe.cooking_time%></p>
    <small>steps goes here</small>
    <p><%= @recipe.description%></p>
  </div>
  <div class="btns">
    <%= link_to "GENERATE SHOPPING LIST", shopping_list_index_path %><br>
    <%= link_to "Add ingredients", new_recipe_food_path %><br>
  </div>
  <table class="table container rounded">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |recipeFood|%> 
      <tr>
        <td><%= recipeFood.food.name%></th>
        <td><%= recipeFood.quantity%><%= recipeFood.food.measurement_unit  %></td>
        <td>$<%= recipeFood.quantity * recipeFood.food.price %></td>
        <% if current_user != nil  %>
          <td class="d-flex gap-3 justify-content-end">
            <%=button_to "Delete", recipe_food_path(recipe_id: @recipe.id, id: recipeFood.id), method: :delete%>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



