<div class='button'>
  <h1>All foods</h1>
  <%= link_to "Add Food", new_food_path, class: "btn btn-primary mb-3 mt-3" %>
</div>

<div class="table">
  <table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">food</th>
      <th scope="col">Measurements</th>
      <th scope="col">Units</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   <% @foods.each do |food| %>
    <tr>
      <td><%=food.name %></td>
      <td><%=food.measurement_unit%></td>
      <td><%= food.price %></td>
      <td ><%= button_to  "Destroy this food", food_path(food.id), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
